@{
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table table-sm table-striped" id="myDataTable">
                <thead>
                    <tr style="font-size:small; font-weight:bold">
                        <th>AnvändarId</th>
                        <th>Namn</th>
                        <th>Roll</th>
                        <th>Ändra</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.userList)
                    {
                    <tr style="font-size:small">
                        <td>
                            @item.AnvID
                        </td>
                        <td>@item.Reparator</td>                        
                        @if (@item.gasketLevel < 10)
                        {
                            <td>Användare</td>
                        }
                        else
                        {
                            <td>Administratör</td>
                        }
                        <td>
                            <a href="#" onclick="selectUser('@item.AnvID')"><i class="glyphicon glyphicon-pencil"></i></a>
                            <div class="col-md-12" id="ErrorTextDelete" style="color:red">
                                <span>@ViewBag.errorTxt</span>
                            </div>

                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var oTable;
    $(function () {
        oTable = $("#myDataTable").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Swedish.json"
            }
        });
    });

    /*
    var deleteGasket = function (gasketId) {
        $("#ErrorTextDelete").html("");
        var data = "gasketId=" + gasketId;
        $.post("/Gasket/deleteGasket", data, function (response) {
            if (response.message != "")
                $("#ErrorTextDelete").html("<span>" + response.message + "</span>");
            else if (response.errMessage != "")
                $("#ErrorTextDelete").html("<span>" + response.errMessage + "</span>");
            else
                getRegisteredGasket();
        }, "json");
    }
    */


</script>



