@model GaskMan.Models.CMaterialThickn

@{
    Layout = null;
}

<style>
    .Error {
        color: red;
    }

    .Label {
        margin-top: 8px;
        font-weight: normal;
    }
</style>


<div class="row" style="margin-top:20px;">
    <form id="myForm">
        <div class="row">
            <div class="well col-sm-10 col-md-10 col-lg-10">
                <h4 style="color:darkseagreen">Registrera materialtjocklek</h4>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    @Html.HiddenFor(m => m.materialThicknId)

                    <div class="form-group">
                        @Html.LabelFor(m => m.materialSizeId, new { @class = "Label" })
                        @Html.DropDownListFor(m => m.materialSizeId, ViewBag.ddList as SelectList, "-- Välj material --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.materialSizeId, "", new { @class = "Error" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.description, new { @class = "Label" })
                        @Html.TextBoxFor(m => m.description, new { @class = "form-control", @placeholder = "Beskrivning", @maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.description, "", new { @class = "Error" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.thicknShort, new { @class = "Label" })
                        @Html.TextBoxFor(m => m.thicknShort, new { @class = "form-control", @placeholder = "Kortnamn", @maxlength = "10" })
                        @Html.ValidationMessageFor(m => m.thicknShort, "", new { @class = "Error" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.cuttingTime, new { @class = "Label" })
                        @Html.TextBoxFor(m => m.cuttingTime, new { @class = "form-control", @placeholder = "Skärtid", @maxlength = "20" })
                        @Html.ValidationMessageFor(m => m.cuttingTime, "", new { @class = "Error" })
                    </div>

                </div>
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <div class="form-group">
                        @Html.LabelFor(m => m.thickness, new { @class = "Label" })
                        @Html.TextBoxFor(m => m.thickness, new { @class = "form-control", @placeholder = "Tjocklek", @maxlength = "20" })
                        @Html.ValidationMessageFor(m => m.thickness, "", new { @class = "Error" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.buyPrice, new { @class = "Label" })
                        @Html.TextBoxFor(m => m.buyPrice, new { @class = "form-control", @placeholder = "Inköpspris", @maxlength = "20" })
                        @Html.ValidationMessageFor(m => m.buyPrice, "", new { @class = "Error" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.sellPrice, new { @class = "Label" })
                        @Html.TextBoxFor(m => m.sellPrice, new { @class = "form-control", @placeholder = "Försäljningspris", @maxlength = "20" })
                        @Html.ValidationMessageFor(m => m.sellPrice, "", new { @class = "Error" })
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" style="margin-top:20px;">
                <div class="well col-sm-10">
                    <span>
                        <a href="#" class="btn btn-success" onclick="saveMaterialThickn()">&nbsp;Spara&nbsp;</a>
                        <a href="#" class="btn btn-default" onclick="toMaterialThicknList()">&nbsp;Till Listan&nbsp;</a>
                    </span>
                    <div class="col-md-12" id="ErrorTextOrder" style="color:red">
                        <span>@ViewBag.errorTxt</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-waitingfor/1.2.7/bootstrap-waitingfor.min.js"></script>
<script>

    var saveMaterialThickn = function () {
        $("#ErrorTextOrder").html("");
        if (!$("#myForm").valid())
            return;
        waitingDialog.show('Sparar tjocklek....');
        var myformdata = $("#myForm").serialize();
        $.post("/MaterialThickn/saveMaterialThickn", myformdata, function (response) {
            waitingDialog.hide();
            if (response.error == "identError") {
                window.location.href = "/Home/Login";
                return;
            }
            if (response.message != "")
                $("#ErrorTextOrder").html("<span>" + response.message + "</span>");
            else if (response.errMessage != "")
                $("#ErrorTextOrder").html("<span>" + response.errMessage + " (Felkod : " + response.errCode + ")</span>");
            else {
                $("#materialThicknId").val(response.materialThicknId);
            }
            
        }, "json");
    }

    var toMaterialThicknList = function () {
        $("#gMaterialThicknListDiv").show();
        $("#gMaterialThicknDetailDiv").empty();
        $("#gMaterialThicknDetailDiv").hide();
        getRegisteredMaterialThickn();
    }
</script>



